node_modules

# Swift
/swift/.build

# Rust
/rust/target

# Native (CMake)
/native/.cmake
/native/.cmake-emscripten
/native/out
/native/dependencies/vcpkg/buildtrees
/native/dependencies/vcpkg/downloads
/native/dependencies/vcpkg/packages
/native/dependencies/vcpkg/vcpkg

# Nix
/result

/.claude
